.search-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid {  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 25px 85px;
}

.search-view-load-more {
  display: block;
  margin: 10px auto;
}

.space-top-20 {
  margin-top: 20px;
}